* {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  text-align: center;
  cursor: default;
}
.smartwatch:focus,
.smartwatch:hover {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-modify: read-write-plaintext-only;
}
.smartwatch {
  background: url(../common/img/mockup.jpg) no-repeat;
  width: 225px;
  height: 390px;
  margin: auto;
}
.kbd-widget {
  width: 150px;
  height: 150px;
  cursor: pointer;
  cursor: hand;
  position: relative;
  top: 122px;
  left: 37px;
}
.typed,
.keyboard,
.hint {
  width: 100%;
  height: 100%;
}
.t-container,
.k-container,
.typed-wrap {
  height: 73px;
}
.typed-wrap {
  padding: 2px;
  text-align: left;
  font-size: 150%;
  line-height: 90%;
  font-family: monospace;
  font-weight: 100;
  background-color: #EEE;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.typed {
  color:#000;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.k-container {
  position: relative;
  top: 4px;
  overflow: hidden;
  background-color: black;
}
.keyboard {
  position: relative;
}
.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}
.message {
  position: absolute;
  font: lighter 200% sans-serif;
  color: white;
}
.k-container,
.key,
.hint,
.message {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.highlighted {
  color: #CCC;
}
.hint {
  color: #000;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4px;
  left: 40px;
  text-align: center;
  font-size: 300%;
  line-height: 120%;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
}
.key {
  color: #000;
  position: absolute;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  line-height: 100%;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #DDD;
  border: 1px solid #DDD;
/*  border-radius: 1px;*/
}
