* {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  text-align: center;
  cursor: default;
}
.smartwatch:focus,
.smartwatch:hover {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-modify: read-write-plaintext-only;
}
.smartwatch {
  background: url(../common/img/mockup.jpg) no-repeat;
  width: 225px;
  height: 390px;
  margin: auto;
}
.kbd-widget {
  width: 150px;
  height: 150px;
  cursor: pointer;
  cursor: hand;
  position: relative;
  top: 122px;
  left: 37px;
}
.typed-wrap,
.container {
  height: 73px;
}
.typed-wrap {
  padding: 2px;
  text-align: left;
  font-size: 150%;
  line-height: 90%;
  font-family: monospace;
  font-weight: 100;
  background-color: #EEE;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.typed {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.container * {
  overflow: hidden;
}
